# Compiled Object files
*.slo
*.lo
*.o
*.obj
/obj/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary Files
*~

# Eclipse files and directories
/Debug/
/Release/
.cproject
.project
.settings

# Blackvoxel output files, logs and misc.
Log.txt
src/sc_Squirrel3/bin/sq
FabDatabaseOutput.sql
blackvoxel
Settings_Hardware.dat
/Universes/
